/*--------------------------------------------------------------------*/
/*---------------------------------------->>>>>>>>>>>>>  Photo Gallery*/
/*--------------------------------------------------------------------*/
/* line 42, ../sass/style.scss */
ul.photogal li {
  width: 19.92%;
  float: left; }
  /* line 45, ../sass/style.scss */
  ul.photogal li a {
    width: 100.1%;
    display: block; }
    /* line 49, ../sass/style.scss */
    ul.photogal li a img {
      display: block;
  width: 750;
  height: 250px;
  width: auto\9;
  width: 700px;
  border: 5px solid white;
      /* ie8 */ }
 
/* line 60, ../sass/style.scss */
ul#filters {
  overflow: hidden;
  list-style: none; }
  /* line 65, ../sass/style.scss */
  ul#filters li {
    float: left;
    margin: 0 0 15px 0; }
    /* line 69, ../sass/style.scss */
    ul#filters li a {
      display: inline;
      background: #fff;
      padding: 8px 10px;
      width: 178px;
      text-decoration: none;
      border-bottom: none;
      color: #e54222 }
      /* line 79, ../sass/style.scss */
      ul#filters li a:hover {
        background: #f7f5f2;
         }
 
/*--------------------------------------------------------------------*/
/*------------------------------------>>>>>>>>>>>>>  Isotope Animation*/
/*--------------------------------------------------------------------*/
/* line 90, ../sass/style.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }
 
/* line 99, ../sass/style.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }
 
/* line 107, ../sass/style.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }
 
/* line 119, ../sass/style.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }