/*
/*
Theme Name: DUCJ Pro
Theme URI: http://www.PunalThemes.com/?p=124
Author: PunalThemes
Author URI: http://www.PunalThemes.com
License: GNU General Public License, v2 (or newer)
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html

Description: ducj is a Simple, Clean and Responsive Retina Ready WordPress Theme which adapts automatically to your tablets and mobile devices. theme with 2 home page layouts,10 social icons,4 widget ,Slider,3 page templates – Full width page, 4 google fonts, font-awesome service icon,Upload logo option,The theme is translation ready and fully translated into all language. ducj is suitable for any types of website – corporate, portfolio, business, blog.

Version: 0.2


Tags: theme-options, one-column, dark, green, white, right-sidebar, left-sidebar, fixed-layout, fluid-layout, custom-background, theme-options,translation-ready, featured-images, full-width-template,sticky-post, post-formats

ducj WordPress Theme, Copyright 2013 WordPress.org
ducj is distributed under the terms of the GNU GPL
*/




@import url("css/nivo-slider.css");
@import url("fonts/awesome/css/font-awesome.min.css");
/* Body Start */

body {
	font-family: 'Arimo', sans-serif;
	background: #f7f7f7;
}
#header {
	background: #353535;
	
}
p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #353535;
}
.no-padding {
	padding: 0px;
}
.warp{ background-color:#FFF;}
/*                                             Header
================================================================================ */




/*-----------------------------------------------------------------------------------*/
/*	STRUCTURE
/*-----------------------------------------------------------------------------------*/


/* Header */
#branding {
	z-index: 9999;
	background-color: #333333;
	padding-bottom: 20px;
	position: relative;
	background-repeat: repeat-x;
	background-image: url(images/menu-bg.png);
	background-position: bottom;
}
#branding2 {
	z-index: 9999;
	background-color: #333333;
	position: relative;
	background-position: bottom;
}

#branding3 {
	z-index: 9999;
	background-color: #333333;
	padding-bottom: 90px;
	position: relative;
	background-repeat: repeat-x;
	background-image: url(images/menu-bg.png);
	background-position: bottom;
	padding-left: 20px;
	
}
#branding4{
	z-index: 9999;
	background-color: #333333;
	padding-bottom: 70px;
	position: relative;
	background-repeat: repeat-x;
	background-image: url(images/menu-bg.png);
	background-position: bottom;
	padding-left: 20px;

	
}
.topbar{
	padding: 10px;
	background-color: #FFF
}
/* logo*/
.desc {
	text-align: left;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-bottom:20px;
	
}

.desc2 {
	text-align: left;
	color: #fff;
	font-size: 14px;
	text-align: left;
	padding-left:30px
	
}
#site-title {
	padding-top:20px;
	float:left;
}

#site-title2{padding-top:20px;
text-align:center;
}
#site-title3{padding-top:20px;
text-align:left;padding-left:30px; padding-bottom:5px;
}
#site-title3 a {
	color: #FFF;
	font-size: 30px;
	line-height: 36px;
	text-decoration: none;
	text-align: center;
}
#site-title2 a {
	color: #FFF;
	font-size: 30px;
	line-height: 36px;
	text-decoration: none;
	text-align: center;
}

#site-title a {
	color: #FFF;
	font-size: 30px;
	line-height: 36px;
	text-decoration: none;
	text-align: center;
}
.header-ad-section2 {
	float: right;
	width: 80%;
	height: 90px;
	position: relative;
	right: 2px;
	margin-bottom:10px;
	right:80px;
	margin-top:5px;
		
}

.call2{
	float: right;
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
	color: #FFF;
	line-height:25px;
	}
/*MENU*/
#menu_wrap {
	padding-top:10px;
	
	float: right;
	
}
#menu_wrap2 {
	float: none;
	text-align: center;
	background-color: rgb(39, 39, 39);
	border-top: 1px solid rgb(63, 63, 63);
	
}
.tinynav, .tinynav1 {
	display: none;
}
#navmenu {
	text-align: left;
}
.nav-header {
	margin: auto;
	padding: 0;
	display: block;
}
#navmenu ul {
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
}
#navmenu ul li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	margin-top: 0px;
	padding-top: 15px;
	height: 60px;
	padding-left: 10px;
	padding-right: 10px;
}
#navmenu li a {
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	padding-top: 5px;
}
/* Effect 1: Brackets */


#navmenu ul {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
#navmenu ul > li::before {
	position: absolute;
	bottom: 65%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
	pointer-events: none;
	margin-left: 5px;
}
#navmenu ul > li:hover::before, #navmenu ul > li:focus::before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
	
}
#navmenu ul > li:hover, #navmenu ul > li:focus {
	color: #ba7700;
}
#menu-icon {
	display: none;
}
/*SUBMENU*/
#navmenu ul li ul {
	position: absolute;
	width: 160px;
	z-index: 999999;
	padding-left: 0;
	margin-left: 0px;
	margin-top: 18px;
	display: none;
}
#navmenu ul li ul li {
	float: none;
	margin: 0;
	padding: 10px 0px;
	text-align: center;
	background: #302f2f;
	display: block;
	border-bottom: 1px solid #333;
	height: auto;
}
#navmenu ul li ul li:hover {
	background-color: #0099CC;
}
#navmenu ul > li ul li:hover {
	color: white; /* Old browsers */
	background-color: #0099CC;
}
#navmenu ul li ul li a {
	font-size: 14px;
	font-weight: normal;
	padding: 4px;
	text-align: left;
}
#navmenu ul li ul li ul {
	left: 100%;
	margin-top: -32px;
	float: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
 @media only screen and (max-width: 768px) {
/*MENU*/
#menu_wrap2 {
	float: none;
	text-align: center;
	background-color: rgb(39, 39, 39);
	border-top: 1px solid rgb(63, 63, 63);
	
}

#navmenu ul li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	margin-top: 0px;
	padding-top: 15px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}
body #menu_wrap {
	width: 100%;
}
body #navmenu {
	width: 100%;
	text-align: center
}
/* nav-wrap */
#menu_wrap {
	position: relative;
	
}
/* menu icon */
#menu-icon {
	padding: 10px 0px;
	cursor: pointer;
	font-size: 20px;
	display: block!important; /* show menu icon */
	border: 1px solid #CCC;
}
#menu-icon:hover {
}
/* main nav */
body  #menu_wrap #navmenu ul.menu {
	clear: both;
	position: absolute;
	top: 60px;
	width: 100%;
	z-index: 10000;
	border: solid 1px #999;
	display: none;
	margin-top: 5px;
	background-color: rgb(51,51,51);
}


body #navmenu ul.menu {
	clear: both;
	position: absolute;
	top: 150px;
	width: 100%;
	z-index: 10000;
	border: solid 1px #999;
	display: none;
	margin-top: 5px;
	background-color: rgb(51,51,51);
}
body #navmenu ul.menu li {
	width: 100%;
	clear: both;
	float: none;
	text-align: center;
	padding-top: 6px;
	padding-right: 30px;
	padding-bottom: 6px;
	padding-left: 0px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
body #navmenu ul > li:hover {
	background: none!important;
}
body #navmenu ul.menu li ul li {
	background: none!important;
	width: 100%;
	border: none;
}
body #navmenu ul.menu li ul li:hover {
	background: none!important;
}
body #navmenu ul.menu a, body #topmenu ul.menu ul a {
	background: none;
	display: inline;
	padding: 0;
	border: none;
}
body #navmenu ul.menu a:hover, body #topmenu ul.menu ul a:hover {
	background: none;
}
/* dropdown */
body #navmenu ul.menu ul {
	width: auto;
	position: static;
	display: block;
	border: none;
	background: inherit;
	margin-top: 0px;
}
body #navmenu ul.menu ul li {
}

#navmenu ul {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
#navmenu ul > li::before {
	position: absolute;
	bottom: 65%;
	left: 50%;
	color: transparent;
	content: '';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
	pointer-events: none;
	margin-left: 5px;
}
#navmenu ul > li:hover::before, #navmenu ul > li:focus::before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}
#navmenu ul > li:hover, #navmenu ul > li:focus {
	color: #ba7700;
}


}
/*SLIDER*/
#slider {
	width: 100%;
	float: left;
	max-height: 600px;
	position: relative;
	overflow: hidden;
	background-color:#FFF;
	
}
.slider_shadow {
	height: 49px;
	position: relative;
	top: -1px;
	background-image: url(images/shadow.png);
	background-repeat: no-repeat;
	background-position: center top;
	
}
.slider_shadow2 {
	height: 49px;
	position: relative;
	top: -1px;
	background-image: url(images/slider_shadow.png);
	background-repeat: no-repeat;
	background-position: center top;
}
/* The Nivo Slider styles */

.nivoSlider {
	position: relative;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 5px 0px #4a4a4a;
	background-color: #fff;
	background-image: url(css/default/loading.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.nivoSlider a {
	border: 0;
	display: block;
}
.nivo-controlNav {
	text-align: center;
	top: 90%;
position: absolute;
left: 48%;
z-index: 99;
}
.nivo-controlNav a {
	display: inline-block;
	width: 22px;
	height: 20px;
	text-indent: -9999px;
	border: 0;
	margin: 0 2px;
	background-image: url(css/default/bullets.png);
	background-repeat: no-repeat;
}
.nivo-controlNav a.active {
	background-position: 0 -20px;
}
.nivo-directionNav a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	border: 0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	background-image: url(css/default/arrows.png);
	background-repeat: no-repeat;
}
.nivo-directionNav a {
	opacity: 0.15;
}
.nivo-directionNav a:hover {
	opacity: 1;
}
a.nivo-nextNav {
	background-position: -30px 0;
	right: 15px;
}
a.nivo-prevNav {
	left: 15px;
}
.nivo-caption {
	font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
	color: #fff;
}
.nivo-caption a:hover {
	color: #fff;
}
.nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}


@media only screen and (max-width:768px) {
	
	.nivo-caption p { display:none;}
	
	.nivo-caption h3 { font-size:20px;}
	#slider { height:auto;}
	.nivoSlider{ height:auto;}
	.nivo-controlNav{ display:none;}
	}
/* Slidorion Stylesheet */

.slidorion {
	position: relative;
	width: 100%;			/* Set to slidorion width. Is equal to .slider + .accordion width */
	height: 400px;			/* Set to slidorion height. Is equal to .slider and .accordion height */
	background: #CBCBCB;
	padding: 10px;
	border: 1px solid #BBB;
	box-shadow: 0 0 20px #bbb;
	margin-top: 10px;
}
.slider {
	width: 68%;
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;		/* Hides the animations */
}
.slider .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.accordion {
	width: 32%;
	height: 100%;
	font-family: Verdana;
	background: #eee;
	box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	position: relative;
	z-index: 999;
	overflow: hidden;
	float: left;
}
.accordion .header {
	padding: 8px 14px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	border-top: 1px solid #ccc;
	background-color: #999999;
}
.accordion .header:first-child {
	border-top: none;
}
.accordion .header:hover {
	background: #EDEDED;
	cursor: pointer;
}
.accordion .header.active {
	border-bottom: none;
	color: #FFF;
	background-color: #FFFFFF;
}
.header a {
	color: #000;
	font-size: 16px;
}
.header a:hover {
	color: #FFF;
}
.accordion .content {
	height: 100%;			/* This height needs to be changed as it depends on the accordion height and number of tabs */
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	padding: 20px;
	border: none;
	background: #d6d6d6;
	overflow: auto;
}
.accordion .content p {
	margin-bottom: 10px;
}
.nav {
	position: absolute;
	top: 200px;
	width: 16px;
	height: 27px;
	z-index: 9999;
	cursor: pointer;
	background-image: url(images/arrows.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.nav-left {
	left: 12px;
}
.nav-left {
	right: 310px;
	background-position: -1px 0;
}
.nav-right {
	right: 97%;
	background-position: -16px 0;
	margin-top: 30px;
}
.nav:hover {
	background-image: url(images/arrows2.png)
}
.link {
	position: absolute;
	top: 78%;
	left: 35%;
	height: 15%;
	background-color: rgb(209, 72, 54);
	border: 1px solid transparent;
	color: rgb(255, 255, 255);
	text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-right: 16px;
	height: 27px;
	line-height: 25px;
	min-width: 54px;
	outline: 0px none;
	font-size: 11px;
	box-shadow: #999 5px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
}
.link:hover{ color:#FFF}
.shadowHolderflat img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 100%;}
/* welcome */
#callout {
	width: 100%;
	background-color: #F0F0F0;
	text-align: center;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 20px;
	padding:2%;
	
	
}
#callout a{background:none repeat scroll 0% 0% rgb(228, 64, 43);
padding: 15px 25px;
border-radius: 5px;
position:relative;

color:#FFF;}

#callout2 {
	width: 100%;
	background-color: #00002B;
	text-align: left;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 20px;
	padding: 2%;
	margin-top: 20px;
	
}
#callout2 a:hover{ color: #FFF;}
.contents{ width:90%;color:#FFF;}
.contents h5 {color:#FFF;}


  .call{
	float: right;
	background: none repeat scroll 0% 0% rgb(228, 64, 43);
	border-radius: 5px;
	position: relative;
	margin-top: 0px;
	color: #FFF;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 25px;
}
/* welcome */


/* services-wrap */


.services-wrap {
}
 @media only screen and (max-width: 768px) {
.ducj_services_widget {
	width: 100% !important;
	float: left !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
}
}
.ducj_services_widget {
	width: 230px;
	float: left;
	padding-left: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.services-wrap h5 {
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #066;
	padding-bottom: 2px;
}
.services-wrap p {
	text-align: center;
	width: 100%;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
/* services-wrap */

/*......................flexslider..............*/
.title h2.blue {
	border-left: solid 3px #0da2cd;
	color: #313131;
	font-size: 28px;
	padding: 0 0 0 10px;
}
.title span.blue {
	color: rgb(13, 162, 205);
}

.caroufredsel_wrapper{ background-color:#FFF;}
.our_work {
	margin: 50px 0 0 0;
}
.our_work .title {
	border-bottom: solid 4px #313131;
	padding: 0 0 15px 0;
}
.our_work li {
	margin: 0 19px 0 0 !important;
}
.our_work li.last {
	margin: 0 19px 0 0px !important;
}
.our_work .work {
	float: left;
	width: 301px;
	margin: 25px 0px 0 0;
	margin-left: 18px;
	margin-right:17px;
}
.our_work .work.last {
	margin: 25px 0 0 0;
}
.our_work p.port {
	background: #f9f9f9;
	border: solid 1px #ededed;
	text-align: center;
	padding: 10px 0;
	width: 301px;
	float: left;
	color: #5e5e5e;
	font-size: 15px;
	text-transform: uppercase;
}


.tf-work-carousel .flex-direction-nav {
 *height: 0;
}
.work-carousel-head {
	position: relative;
}
.work-carousel-head a {
	width: 28px;
	height: 28px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0px;
	margin: -36px 0 0 0;
	right: 0px;
	z-index: 1;
	cursor: pointer;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url(images/arrow_bttom_slide.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.work-carousel-head .next {
	background-position: -30px 0;
}
.work-carousel-head .prev {
	margin-right: 30px;
}
.work-carousel li {
	display: block;
	float: left;
	position: relative;
	background: #fff;
	margin: 0 0px 0 0px !important;
}
.view {
	width: 301px;
	height: 222px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}
.view .mask, .view .content {
	width: 301px;
	height: 222px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img {
	display: block;
	position: relative;
}
.view h2 {
	font-family: 'MuseoSlab300Regular';
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.view p {
	font-size: 12px;
	position: relative;
	color: #fff;
	padding: 10px 20px 20px;
	text-align: center;
	height: 83px;
	overflow: hidden;
}
.view a.info {
	text-decoration: none;
	font-size: 12px;
	background: #000;
	float: left;
	color: #fff;
	text-transform: uppercase;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 100px;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 15px;
}
.view a.info:hover {
	background: #f9f9f9;
	color: #000;
}
.view-seventh img {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.view-seventh .mask {
	background-color: #252525;
	-webkit-transform: rotate(0deg) scale(1);
	-moz-transform: rotate(0deg) scale(1);
	-o-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.view-seventh h2 {
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-seventh p {
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-seventh a.info {
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
	-webkit-transform: rotate(720deg) scale(0);
	-moz-transform: rotate(720deg) scale(0);
	-o-transform: rotate(720deg) scale(0);
	-ms-transform: rotate(720deg) scale(0);
	transform: rotate(720deg) scale(0);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.view-seventh:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translateY(0px) rotate(0deg);
	-moz-transform: translateY(0px) rotate(0deg);
	-o-transform: translateY(0px) rotate(0deg);
	-ms-transform: translateY(0px) rotate(0deg);
	transform: translateY(0px) rotate(0deg);
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.view-seventh:hover h2 {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.7s;
	-moz-transition-delay: 0.7s;
	-o-transition-delay: 0.7s;
	-ms-transition-delay: 0.7s;
	transition-delay: 0.7s;
}
.view-seventh:hover p {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.view-seventh:hover a.info {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
/*Midrow Blocks*/
/*MIDROW*/
@media only screen and (min-width:768px) {
.icon{
	margin-left: 36%;
	margin-top: 10px;
	margin-bottom: 5px;
	
}}
@media only screen and (max-width:768px) {
.icon{
	margin-left: 40%;
	margin-top: 10px;
	margin-bottom: 5px;
	
}
}
.midrow {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	margin-top: 40px;
	margin-left:5px;
}
.midrow_wrap {
}
@media only screen and (min-width:768px) {.midrow_blocks{ width:23.5%; padding:0px;  float:left;  position:relative;height: 270px; margin-left:6px; margin-right:6px; overflow:hidden; }}




.midrow_block {
}
.shadow {
	background-image: url(images/service_shadow.png);
	background-repeat: no-repeat;

	
}

.shadow img { width:100%;}
.midrow_block h3 {
	text-align: center;
	font-size: 20px;
	color: #333;
}
.midrow_block p {
	text-align: center;
	font-size: 12px;
}
.midrow_blocks_wrap {
	width: 100%;
	float: left;
	border: 4px solid #CCC;
	background-color: #FFF;
	height: 230px;
	overflow:hidden;
}
.midrow_blocks_wrap:hover {
	background: #a60000;
	color: #fff;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.6s ease-out;
}
.mid_block_content {
	margin-top: -35px;
	padding: 25px 10px 0;
	height: 180px;
}
.midrow_block:last-child .mid_block_content {
	border: none;
}
.mid_block_content h3 {
	text-align: center;
	font-size: 20px;
	color: #333;
	padding-top: 15px;
}
.midrow_block:hover {
	color: #000;
}
.midrow_block:hover h3 {
	color: #000;
}
.blocklink {
	display: block;
	width: 1px;
	height: 32px;
	margin: 0 auto;
	text-indent: -999999px;
}
.blocklink {
	display: block;
	width: 32px;
	height: 32px;
	background: url(images/list_type.png) no-repeat;
}
.imgholder1 {
	height: 99px;
	width: 99px;
	margin-left: 75px;
}
/*LAYOUT 1*/

.lay1 {
	width: 100%;
	float: left;
	padding-top: 10px;
}
.lay1 .hentry {
	width: 220px;
	height: 355px;
	background: #fff;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	margin-bottom: 40px;
	padding-left: 10px;
	box-shadow: inset 0px 0px 2px rgba(153,153,153,0.4);
	-moz-box-shadow: inset 0px 0px 2px rgba(102,102,102,0.4);
	-webkit-box-shadow: inset 0px 0px 2px rgba(153,153,153,0.4);
	overflow: hidden;
	margin-top: 30px;
}
.postitle {
	font-size: 20px !important;
	text-align: center;
	width:100px;
	overflow:hidden;
	-ms-word-wrap: break-word;
word-wrap: break-word;
height:

}


.postitle2 {
	width:100%;
	float:left;
	text-align:center;
	
}
.postitle2 a{
	font-size:20px;
	float:left;
	
	}

.content2 { text-align:left; font-size:13px;}	
.lay1 .post_content2 {
	float:left;  width:200px; height:190px; overflow:hidden;
}
 .postcontent2 p {
	text-align: left;
	font-size:13px;
			
}

.imgwrap a img {position: absolute;
overflow: hidden;
height: 150px;
width: 218px;}



.ch-item {
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	float: right;
	
}
.post_image {
	width: 218px;
	float: right;
	
}
.imgpost {
	position: absolute;
	width: 218px;
	height: 150px;
	overflow: hidden;
}

.ducj_post_wrap{
	margin-top:40px;}
	

.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: rgba(255, 231, 179, 0.3);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #333;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
 @media only screen and (max-width: 768px) {
.lay1 {
	width: 100%;
	float: left;
	margin-top: 30px;
	padding-left: 60px;
	background-color: #FFF;
}
.lay1 .hentry {
	width: 100%;
	background: #fff;
	margin-right: 2px;
	float: none;
	margin-bottom: 40px;
	border-right-width: 2px;
	border-right-style: hidden;
	border-right-color: #CCC;
	padding-left: 1px;
}
.postcontent {
	width: 100%;
	float: left;
	text-align: center;
	padding-left: 20px;
}
.post_image {
	width: 100%;
	float: left;
}
.lay1 .hentry {
	width: 220px;
	background: #fff;
	height: 350px;
	margin-right: 22px;
	float: left;
	margin-bottom: 40px;
}
.postitle {
	font-size: 30px;
	text-align: center;
}
.post_content p {
	font-size: 14px;
	text-align: left;
}
.imgpost {
	position: absolute;
	width: 220px;
	height: 150px;
	overflow: hidden;
	;
}
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden; /*for a smooth font */
	behavior: url(PIE.htc);
}
.more2 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	font-size: 18px;
	text-align: center;
	padding-left: 90px;
	padding-right: 85px;
	background-color: #CCC;
	opacity: 0.8;
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	font-size: 15px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 80px;
	text-align: center;
	top: -50px;
}
.ch-info a {
	color: #FFF;
}
.ch-info p {
	color: #09C;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(153,0,0,0.5);
}
.ch-item:hover {
	box-shadow: inset 0px 0px 0px 110px rgba(102,102,102,0.4), inset 0 0 0 2px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
	behavior: url(PIE.htc);
}
.ch-item:hover .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	behavior: url(url(PIE.htc));
}


/*LAYOUT 2*/

.lay2 {
	width: 100%;
	float: left;
	padding-left: 60px;
	background-color: #FFF;
}
.lay2 .hentry{
	float: left;
	width: 280px;
	margin-right: 20px;
	margin-left:20px;
	height:500px;
	margin-top:20px;
	margin-bottom:30px;
	-ms-word-wrap: break-word;
word-wrap: break-word;
}


.imageWrap img:hover{
	opacity: .70;
	
}
.imageWrap{
	line-height: 0;
	display: block;
	position: relative;
	margin-bottom: 20px;
	
}

.shadowHolder img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 100%;
	margin-top: -20px;
	margin-bottom: 20px;
}
.imageWrap img{
	display: block;
	width: 100%;
	height: auto;
}

.imageWrap a span {
	display: none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 999; 
	background: url(../images/overlay.png) repeat; 
}
.imageWrap a span span {
	float: left; 
	width: 100%; 
	height: 100%; 
	background: transparent url(../images/mg.png) center center no-repeat; 
}

.buttonPro{
	display: inline-block;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	font: bold 12px/1em Arial, sans-serif;
	padding: 10px 13px;
	color: #a7a7a7; !important;
	text-shadow: 0 1px 0 #fff;
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(top, #ebebeb 0%, #e1e1e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ebebeb 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ebebeb 0%,#e1e1e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ebebeb 0%,#e1e1e1 100%); /* IE10+ */
	background: linear-gradient(top, #ebebeb 0%,#e1e1e1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
	border-bottom: solid 1px #ddd;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	-webkit-box-shadow: 0 0 3px #eaeaea, inset 0 1px 0 #fdfdfd;
	-moz-box-shadow: 0 0 3px #eaeaea, inset 0 1px 0 #fdfdfd;
	box-shadow: 0 0 3px #eaeaea, inset 0 1px 0 #fdfdfd;
}



/*LAYOUT 3*/
.title{ margin-top:30px;}
.lay3 {
	width: 100%;
	float: left;
	padding-left: 10px;
	
}

.lay3 .hentry {
	width: 300px;
	height: 200px;
	background: #fff;
	margin-right: 10px;
	margin-left:10px;
	float: left;
	margin-bottom: 40px;
	box-shadow: 0px 0px 4px rgba(0,153,255,0.4) inset;
	-moz-box-shadow: inset 0px 0px 4px rgba(0,153,255,0.4);
	-webkit-box-shadow: inset 0px 0px 4px rgba(0,153,255,0.4);
	overflow: hidden;
	border: 8px solid #EFEFEF;	
}

.view {
   width: 300px;
   height: 200px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
  
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
   height:83px;
   overflow:hidden;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: rgba(255, 231, 179, 0.3);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	color: #333;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
-ms-word-wrap: break-word;
word-wrap: break-word;}
.view-tenth p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   height:65px;
   -ms-word-wrap: break-word;
word-wrap: break-word;
}
.view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/*Layout 4*/

.lay4{
	width: 100%;
	float: left;
	padding-left: 10px;
	
}

.lay4 .hentry {
	width: 300px;
	height:250px;	
	background: #fff;
	margin-right: 10px;
	margin-left:10px;
	float: left;
	margin-bottom: 40px;

	overflow: hidden;
	
}

.proj-thumb {  height: auto;
    position: relative;
    background: none repeat scroll 0% 0% rgb(0, 0, 0);
  }		
 
	
.proj-thumb img {
    display: block;
    margin: 0px auto;
	height:175px;
	overflow:hidden;
}

.image-overlay {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0.3);
	background-image: url(images/link-overlay.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.image-overlay:hover{ opacity:1; cursor:pointer;
-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.6s ease-out;}
	
.proj-description {
    padding: 14px 0px 19px;
    background: none repeat scroll 0% 0% rgb(244, 244, 244);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    transition: all 180ms ease-in-out 0s;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.07) inset;
	overflow:hidden;
	height:70px}
/*single post*/

#content {
	width: 100%;
	float: left;
	background-color: #FFF;
	border-bottom: 1px solid rgb(213, 213, 213);
	background-color: rgb(255, 255, 255);
	
}
#content .top-content {
	width: 72%;
	position: relative;
	float: left;
	background-color: #FFF;
	padding: 40px;
}

@media only screen and (max-width: 1024px) {
	#content .top-content {
	width: 100%;
	position: relative;
	float: left;
	background-color: #FFF;
	padding: 20px 20px;
}
	
	
}

#content .top-content2 {
	width: 100%;
	position: relative;
	float: left;
	background-color: #FFF;
	padding: 20px 20px;
}

.post_content {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
}
.commentlist {
	background: #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.10);
}
.postitle {
	width: 100%;
	text-align: center;
	font-size: 18px;
}
.postimg {
	width: 100%;
	position: relative;
	float: left;
	padding-left: 10px;
	padding-bottom: 10px;
	cursor: default;
}
.metainfo {
	width: 100%;
	position: relative;
}
.metadate {
	float: left;
	padding: 4px;
	opacity: 1;
	position: relative;
	font-size: 14px;
}
.metaauth {
	float: right;
	padding: 4px;
	position: relative;
	font-size: 14px;
}
.post_info_wrap {
	width: 100%;
	background-color: #FFF;
	text-align: left;
	font-size: 14px;
	margin-top: 5px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	
	
}
.post_info_wrap ul {margin-left: 30px;}
.left_link {
	float: left;
	position: relative;
	height: 20px
}
.right_link {
	float: right;
	position: relative;
	height: 20px;
}
.post_cat {
	padding: 10px;
	float: right;
	position: relative;
	font-size: 12px;
	background-color: #EEEEEE;
	margin-top: 5px;
}
.post_tag {
	float: none;
	position: relative;
	font-size: 12px;
	background-color: #EEEEEE;
	color: #000;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 15px;
	padding-left: 25px;
	background-image: url(images/tag.png);
	background-repeat: no-repeat;
	width: 100%;
}
.post_tag a:hover {
	color: #09C;
	text-decoration: underline;
}
.post_tag a {
	padding-left: 8px;
	float: left;
	position: relative;
	background-color: #EEEEEE;
}
.post_cat a {
	margin-left: 5px;
}
.post_cat a:hover {
	text-decoration: underline;
}
#submit {
	display: inline-block;
	width: 130px;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	background-color: #666666;
	text-transform: uppercase;
	text-align: center;
	
}
#submit:hover {
	background: #a60000;
	color: #fff;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.6s ease-out;
	cursor: pointer;
}
.post_info_wrap pre {
	overflow: auto;
	background: none repeat scroll 0% 0% rgb(245, 245, 245);
	border-width: 1px 1px 1px 3px;
	border-style: solid;
	border-color: rgb(240, 240, 240) rgb(240, 240, 240) rgb(240, 240, 240) rgb(224, 224, 224);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	padding-left: 2.5rem;
}
.label {
	width: 40% !important;
}
/*FULL WIDTH PAGE*/

.ducj_fullwdth_body #content .top-content {
	width: 100%;
}
/*FOOTER*/

.flickr_photo{ width:61px; height:61px;}

.flickr_photo:hover{ opacity:.85}

#footer {
	width: 100%;
	float: left;
	border-bottom: 1px solid rgb(63, 63, 63);
	background-color: rgb(55, 55, 55);
	overflow: hidden;
	position:absolute;
   	bottom:0;
}
#footer .widgets {
	padding: 10px;
}
#footer .widgets .widget a {
}
#footer .widgets ul {
	margin: 0;
	padding: 0;
}
.widget_wrap {
	width: 100%
}
#calendar-2{ width:200px !important; margin-right:75px !important;}
#footer .widgets .widget {
	width: 221px;
	float: left;
	margin-right: 15px;
	list-style-type: none;
	margin-bottom: 25px;
}
#footer .widgets .widgettitle, #midrow .widgets .widgettitle a {
	color: #2bb975;
	font-size: 20px;
	margin-top: 10px;
}
#footer .widgets .widget ul {
	margin: 0;
	padding: 0;
}
#footer .widgets .widget ul li {
	list-style-type: none;
	padding: 6px 0;
}
#footer .widgets .widget ul li a {
	text-decoration: none;
	color: #888;
}
#footer .widgets .widget ul li .thn_wgt_tt {
	color: #888;
}
#footer .thn_wgt_thumb img {
	width: 50px;
	height: 50px;
}
#footer .widgets .widget:nth-child(4), #footer .widgets .widget:nth-child(8), #footer .widgets .widget:nth-child(12) {
	margin-right: 0;
}
#footer .thn_ad250x250_widget img {
	width: 212px;
	height: 212px;
}
#footer .thn_ad125x125_widget img {
	width: 100px;
	height: 100px;
}
.thn_feat ul p, .thn_pop ul p, .thn_rand ul p {
	margin: 5px 0;
}
#footer .widgets .widget .thn_feat ul li, #footer .widgets .widget .thn_pop ul li, #footer .widgets .widget .thn_rand ul li {
	min-height: 55px;
	padding: 10px 0px;
}
#footer #searchform {
	margin-top: 20px;
}
#footer #searchform #s {
	width: 90%;
}
#footer #wp-calendar #today {
	background: #2BB975;
}
#footer #wp-calendar caption {
}
#footer .widgets .widget {
	list-style-type: none;
}
#calendar_wrap {
	width: 200px;
}
#wp-calendar {
	margin-right: 5px;
}
#copyright {
	width: 100%;
	padding: 15px;
	float: left;
	background-color: rgb(0,0,0);
}
#copyright a {
	color: #ccc;
}
.copytext {
	float: left;
	padding: 5px 10px;
	width: 420px;
}
/*Footer Menu*/
#footmenu {
	width: 50%;
	float: right;
}
#footmenu ul {
	float: right;
	padding: 5px 10px;
	margin: 0;
}
#footmenu ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
}
#footmenu ul li a {
	color: #FFF;
}
#footmenu ul li a:hover {
	color: #EEE;
}
.title h2.green {
	border-left: solid 3px #93b72b;
	color: #313131;
	font-size: 28px;
	padding: 0 0 0 10px;
}
.title span.green {
	color: #93b72b;
}
.client {
	float: left;
	margin-right: 15px;
	margin-bottom: 20px;
}
/*WIDGETS
-------------
*/

.thn_wgt_thumb {
}
.thn_wgt_thumb img {
	width: 65px;
	float: left;
	height: 65px;
	margin-right: 10px;
}
#sidebar .widgets .widget ul li .thn_wgt_tt, #midrow .widgets .widget ul li .thn_wgt_tt {
	color: #333;
}
body #sidebar .widgets .thn_feat_widget ul, body #sidebar .widgets .thn_rand_widget ul, body #sidebar .widgets .thn_pop_widget ul {
	margin-left: 0px;
}
#footer .widget_content p {
	font-size: 12px;
}
.thn_ad125x125_widget {
	float: left;
	display: block;
	width: 283px;
}
.ads-125x125 img {
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.ads-125x125 a:nth-child(2) img, .ads-125x125 a:nth-child(4) img {
	margin-right: 0;
}
.ads-160x600 {
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.ads-250x250 {
	float: left;
}
.thn_twitter .tweet_text a, .widget_tag_cloud a:hover, .textwidget a {
	color: #2BB975;
}
.thn_twitter .tweet_avatar {
	width: 60px;
	float: left;
}
.thn_flckr_widget img {
	padding: 9px;
	display: inline;
	width: 67px;
	height: auto;
}
.flickr_badge_image {
	display: inline-block;
}
#sidebar .widgets .widget_nav_menu ul li ul li, #midrow .widgets .widget_nav_menu ul li ul li, #footer .widgets .widget_nav_menu ul li ul li {
	background: none;
	padding-left: 15px;
	border-bottom: none;
}
#sidebar .thn_feat ul, #sidebar .thn_pop ul, #sidebar .thn_rand ul {
	margin-left: 0;
}
.thn_feat ul li, .thn_pop ul li, .thn_rand ul li {
	list-style-type: none;
	min-height: 75px;
}
#searchform .screen-reader-text {
	display: none;
}
#sidebar #searchform #s {
	width: 90%;
	padding: 5px;
	border: 1px solid #ececec;
	color: #888;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
#wp-calendar tbody td {
	text-align: center;
}
#wp-calendar #today {
	background: #2BB975;
	color: #FFF;
}
#wp-calendar #today a {
	color: #FFF;
}
#wp-calendar #prev {
	padding-top: 10px;
}
/*SIDEBAR*/
#sidebar {
	float: left;
	width: 285px;
	margin-top: 30px;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
}
#sidebar .widgets {
}
#sidebar .widgets ul {
	margin: 0;
	padding: 0;
}
#sidebar .widgets ul li {
	list-style-type: none;
}
#sidebar .widgets .widget {
	padding: 0px;
	width: 285px;
	float: left;
	background: #fff;
	margin-bottom: 30px;
}
#sidebar .widgets .widget_wrap {
	padding: 15px;
	float: left;
	width: 255px;
}
#sidebar .widgettitle, #sidebar .widgettitle a {
	color: #333;
	margin: 0;
	text-align: left;
	border-bottom: 2px solid #2bb975;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-top: 5px;
	font-size: 24px;
	margin-left: -15px;
	width: 270px;
	margin-bottom: 7px;
	padding-left:3px;
}
#sidebar .widgets .widget ul {
	margin: 0px;
	padding: 0px;
	margin-left: 15px;
}
#sidebar .widgets .widget li {
	padding: 7px 0;
	margin: 7px 0;
	border-bottom: 1px solid #f5f5f5;
	color: #666;
	-ms-word-wrap: break-word;
word-wrap: break-word;
}
#sidebar .widgets .widget li a {
	color: #888;
}
#sidebar .widget_archive ul, #sidebar .widget_meta ul, #sidebar .widget_recent_entries ul, #sidebar .widget_nav_menu ul, #sidebar .widget_recent_comments ul, #sidebar .widget_pages ul, #sidebar .widget_links ul, #sidebar .widget_categories ul {
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
}
#sidebar .widget_archive li, #sidebar .widget_meta li, #sidebar .widget_recent_entries li, #sidebar .widget_nav_menu li, #sidebar .widget_recent_comments li, #sidebar .widget_pages li, #sidebar .widget_links li, #sidebar .widget_categories li {
	list-style-image: url(images/list_type.png);
}
#sidebar .widgets .widget li:last-child {
	border: none;
}
/*WordPress Core*/
.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.wp-caption {
	background: url(images/transblack.png) repeat;
	border: 1px solid #ececec;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 10px 3px 10px;
	text-align: center;
}
.wp-caption img {
	max-width: 98%!important;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none !important;
	margin: 0 !important;
	max-width: 570px;
	padding: 0 !important;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
.sticky {
}
.gallery-caption {
}
/* =Comments
-------------------------------------------------------------- */
#comments{ padding:40px;
-ms-word-wrap: break-word;
word-wrap: break-word;}
.nocomments{ padding:40px;}
#commentform {
	margin: 0;
}
.commentlist {
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
	margin: 0;
	padding: 0;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #ffffff;
	border-radius: 4px;
	margin: 0;
}
.commentlist .bypostauthor {
}
.commentlist li cite {
	color: #111111;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
}
.commentlist li.alt {
	background: #f9f9f9;
}
.commentlist .children {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
}
.commentlist .avatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
	padding: 0;
	vertical-align: middle;
}
.comment-author .fn {
}
.comment-author .says {
	color: #999999;
}
.comment-body .comment-meta {
	color: #999999;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}
.comment-body .comment-meta a {
	font-size: 11px;
}
.comment-body {
	clear: both;
	padding: 10px;
}
.comment-body p {
	clear: both;
	margin-left: 20px;
	margin-top: 30px;
	-ms-word-wrap: break-word;
word-wrap: break-word;
}
.comment-body .reply {
}
.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}
.pingback cite, .trackback cite {
	font-style: normal;
}
#pings, #comments {
	text-align: left;
}
#respond {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fff;
	margin-top: 20px;
}
#respond label {
	display: inline;
}
.reply {
	margin: 10px 0;
}
.comment-form-url input, .comment-form-email input, .comment-form-author input, .comment-form-comment textarea {
	display: block;
	width: 100%;
}
.nocomments {
	color: #999999;
	font-size: .9em;
	text-align: center;
}
#comment {
	width: 100%;
	min-height: 250px;
	float: left;
}
#author {
	width: 100%
}
#email {
	width: 100%
}
#url {
	width: 100%
}
.navigation {
	margin-top: 5px;
	padding-bottom: 5px;
}
.next {
	float: right
}
.previous {
	float: left
}
.comment-form-author {
	width: 180px;
	margin-right: 15px;
	float: left;
}
.comment-form-email {
	width: 180px;
	margin-right: 15px;
	float: left;
}
.comment-form-url {
	width: 180px;
	margin-right: 15px;
	float: left;
}
.comment-form-comment {
	clear: both;
	margin-bottom: 10px;
	float: left;
}
.form-submit {
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
}
.form-allowed-tags {
	float: left;
	width: 100%;
}

#searchsubmit{
	float: left;
margin-right: 6px;
border: medium none;
background: #a60000;
padding: 5px;
color: rgb(255, 255, 255);
cursor: pointer;}
/* Pagination */
.wp-pagenavi {
	overflow: hidden;
	text-align: center;
	display: block;
	font-size: 12px;
	width: 90%;
	margin-top: 18px;
	margin-left: 20px;
	margin-bottom: 18px;
	margin-right: 20px;
}
.wp-pagenavi .pages {
	text-transform: uppercase;
	font-size: 11px;
	width: 100px;
	color: #999999;
}
.wp-pagenavi .alignleft a, .wp-pagenavi .alignright a {
	width: auto;
	height: auto;
	padding: 4px 8px;
}
.wp-pagenavi a, .wp-pagenavi span {
	display: inline-block;
	margin-right: 3px;
	padding: 0 8px;
	line-height: 24px;
	text-align: center;
}
.wp-pagenavi .current, .wp-pagenavi a:hover {
	color: #33CCFF;
}
.wp-pagenavi a {
	border: 1px solid #CCCCCC;
	word-break: break-all;
}
/* blog */

#sub_banner {
	text-align: center;
	padding: 15px 0;
	background-color: #FFFFFF;
	background-image: url(images/menu-bg.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	
}
#sub_banner h1 {
}
.post_info {
	font-size: 12px;
	color: #ababab;
}
.post_info a {
	font-style: italic;
	color: #6f6f6f;
}
.post_info a:hover {
	color: #ff5555;
}
.post_info_delimiter {
	display: inline-block;
	height: 10px;
	margin-left: 10px;
	border-left: 1px solid #6f6f6f;
	padding-left: 10px;
}
.post_info .post_views, .post_info .post_comments {
	position: relative;
	display: inline-block;
	padding-left: 20px;
}
.post_info .post_views [class^="icon-"]:before, .post_info .post_views [class*=" icon-"]:before, .post_info .post_comments [class^="icon-"]:before, .post_info .post_comments [class*=" icon-"]:before {
	font-size: 15px;
	left: 0;
	top: 4px;
	color: #d7d7d7;
}
.post_views a, .post_comments a {
	color: #ababab;
	font-weight: normal !important;
	font-style: normal !important;
}
.post_views a:hover, .post_comments a:hover {
	color: #ff5555;
	font-weight: normal !important;
	font-style: normal !important;
}
.post_comments a:hover .comments_number {
	color: #ff5555;
}
.post_views a:hover [class^="icon-"]:before, .post_views a:hover [class*=" icon-"]:before, .post_comments a:hover [class^="icon-"]:before, .post_comments a:hover [class*=" icon-"]:before {
	color: #ff5555;
}
/* ----------- Blog style 1 -------------------- */
.content_blog.blog_style_b1 article {
	padding-left: 70px;
	min-height: 150px;
}

.image_wrapper img{
	border: 6px solid #CCC;
}
.left_sidebar .content_blog.blog_style_b1 article {
	padding-left: 0;
	padding-right: 70px;
}
.blog_style_b1 .post_info_1 {
	position: absolute;
	left: 0px;
	top: 0;
	width: 50px;
	height: 150px;
	color: #ffffff;
}
.left_sidebar .blog_style_b1 .post_info_1 {
	left: auto;
	right: 0px;
}
.post_info_1 .post_format,  .post_info_1 .post_comments,  .post_info_1 .post_date {
	width: 50px;
	height: 50px;
	position: relative;
}
.post_info_1 .post_format {
	background-color: #ff5555;
	color: #ffffff;
}
.post_info_1 .post_format [class^="icon-"]:before,  .post_info_1 .post_format [class*=" icon-"]:before {
	font-size: 20px;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 50px;
	width: 50px;
	height: 50px;
	text-align: center;
}
.post_info_1 .post_date {
	background-color: #191919;
}
.post_info_1 .post_date span {
	display: block;
	text-align: center;
}
.post_info_1 .post_date .day {
	font-size: 18px;
	font-weight: bold;
	padding-top: 6px;
}
.post_info_1 .post_date .month {
	font-size: 13px;
}
.post_info_1 .post_comments span {
	display: block;
	text-align: center;
}
.post_info_1 .post_comments .comments_number {
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
	color: #6f6f6f;
}
.post_info_1 .post_comments [class^="icon-"]:before,  .post_info_1 .post_comments [class*=" icon-"]:before {
	left: 17px;
	top: 24px;
	color: #c9c9c9;
}
.blog_style_b1 .pic_wrapper, .blog_style_b1 .sc_slider {
	margin-bottom: 22px;
}
.blog_style_b1 .title_area {
	margin-bottom: 22px;
}
.blog_style_b1 .post_info_2 {
	margin-bottom: 22px;
}
.blog_style_b1 .post_content {
	margin-bottom: 4px;
}
.blog_style_b1 .post_content pre {
	overflow: auto;
}
.blog_style_b1 .post_info_3 {
	padding-top: 4px;
}
.blog_style_b1 .sc_slider ul.slides {
	height: 391px;
}
.blog_style_b1 .readmore {
	max-width: 100px;
	float: right;
	padding-right: 5px;
}
.icon-pencil {
	background-image: url(images/Untitled-1.png);
	background-repeat: no-repeat;
	display: block;
	background-position: center;
	padding-top: 35px;
}
.post-edit-link {
	opacity: 1;
	font-size: 12px;
	line-height: normal;
}
/* --------------------- Blog section ------------------------ */

.share {
	text-align: right;
	width: 77px;
	float: left;
	margin-left: 65%;
	margin-top: 6px;
}
.content_blog article {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	overflow: hidden;
}
#content .readmore {
	text-align: right;
}
#content .sc_slider {
	margin-bottom: 30px;
}
#content .sc_slider_revo {
	height: auto !important;
}
#content .video_container {
	margin-bottom: 20px;
}
#content .more-link {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	background: #ffffff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f3f3f3));
	background: -webkit-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: -moz-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: -ms-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: -o-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: linear-gradient(#ffffff 0%, #f3f3f3 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
	padding: 0 6px;
	color: #191919;
	font-size: 13px;
	font-weight: bold;
}
#content .more-link:hover {
	background: #fafafa;
	filter: none;
	color: #ff5555;
}
.content_blog .post_title {
	margin: 0;
	-ms-word-wrap: break-word;
word-wrap: break-word;
}
.content_blog .post_title a {
	color: #191919;
	font-size: 21px;
}
.content_blog .post_title a:hover {
	color: #ff5555;
}
.content_blog .post_format_quote blockquote {
	margin: 0;
}
.content_blog .post_format_quote .post_content {
	position: relative;
	padding: 16px 16px 1px 40px;
	background-color: #fafafa;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 20px;
}
.content_blog .post_format_quote .pic_wrapper {
	margin-top: 0;
}
.content_blog .post_format_quote .post_content:before {
	content: "\e81d";
	position: absolute;
	display: block;
	font-family: 'fontello';
	font-size: 18px;
	color: #ff5555;
	left: 18px;
	top: 18px;
	;
}
.content_blog .post_format_quote .post_content a {
	color: #191919;
	font-weight: bold;
	font-style: normal;
	font-size: 14px;
}
.content_blog .post_format_quote .post_content a:hover {
	color: #ff5555;
}
.content_blog .post_format_quote .post_content .readmore {
	margin: 16px -16px 0 0;
}
.content_blog #portfolio_iso_filters {
	margin-top: 30px;
	border-radius: 2px;
	border: 1px solid #dcdcdc;
	background: #ffffff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f3f3f3));
	background: -webkit-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: -moz-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: -ms-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: -o-linear-gradient(#ffffff 0%, #f3f3f3 100%);
	background: linear-gradient(#ffffff 0%, #f3f3f3 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
	-webkit-box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.75);
}
.content_blog #portfolio_iso_filters a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #191919;
	font-weight: bold;
	padding: 0 20px;
	border-right: 1px solid #dcdcdc;
}
.content_blog #portfolio_iso_filters a.current, .content_blog #portfolio_iso_filters a:hover {
	color: #ff5555;
	background: #ffffff;
}
/*social*/

/* Social Profiles */
.social-profiles {
	float: right;
}
.social-profiles ul {
	margin: -10px 0 0;
	float: right;
	list-style: none;
}
.social-profiles ul li {
	margin-top: 10px;
	float: left;
}
.social-profiles ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -99999px;
	background-image: url(images/social-icons.png);
	background-position: right bottom;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.social-profiles ul li.facebook a {
	background-position: 0 0;
}
.social-profiles ul li.facebook a:hover {
	background-position: 0 -40px;
}
.social-profiles ul li.twitter a {
	background-position: -40px 0;
}
.social-profiles ul li.twitter a:hover {
	background-position: -40px -40px;
}
.social-profiles ul li.google-plus a {
	background-position: -80px 0;
}
.social-profiles ul li.google-plus a:hover {
	background-position: -80px -40px;
}
.social-profiles ul li.pinterest a {
	background-position: -120px 0;
}
.social-profiles ul li.pinterest a:hover {
	background-position: -120px -40px;
}
.social-profiles ul li.linked a {
	background-position: -160px 0;
}
.social-profiles ul li.linked a:hover {
	background-position: -160px -40px;
}
.social-profiles ul li.tumblr a {
	background-position: -200px 0;
}
.social-profiles ul li.tumblr a:hover {
	background-position: -200px -40px;
}
.social-profiles ul li.vimeo a {
	background-position: -240px 0;
}
.social-profiles ul li.vimeo a:hover {
	background-position: -240px -40px;
}
.social-profiles ul li.my-space a {
	background-position: -280px 0;
}
.social-profiles ul li.my-space a:hover {
	background-position: -280px -40px;
}
.social-profiles ul li.flickr a {
	background-position: -320px 0;
}
.social-profiles ul li.flickr a:hover {
	background-position: -320px -40px;
}
.social-profiles ul li.you-tube a {
	background-position: -360px 0;
}
.social-profiles ul li.you-tube a:hover {
	background-position: -360px -40px;
}
.social-profiles ul li.rss a {
	background-position: -400px 0;
}
.social-profiles ul li.rss a:hover {
	background-position: -400px -40px;
}
.space35 {
	margin-bottom: 35px;
}
/*  single : related posts
/* ------------------------------------ */
.related { width:100%;border-bottom: 1px solid rgb(213, 213, 213);
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); }
.related-posts { border-bottom: 2px solid #eee;  }
.related-posts li { width: 33.3%; float: left; display: inline; opacity:.75; height:210px; overflow:hidden }
.related-posts .post { border-right: 1px solid transparent; margin-bottom: 0;  }
.related-posts li:nth-child(4) article { display: none; }
.related-posts li:nth-child(3) article { border-right-color: transparent; }
.related-posts .related-inner {  }
.single .related-posts .post-title {  font-size: 14px; font-weight: 300; line-height: 1.5em; letter-spacing: 0; display: block; -ms-word-wrap: break-word;
word-wrap: break-word; }

.related-posts li:hover { opacity:1}
.post-comments span { display: block; position: relative; padding: 2px 7px; }
.post-comments span:before { content:''; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid #82b965; border-top: 7px solid transparent; border-bottom: 7px solid transparent; position: absolute; top: 5px; left: -14px; }

.post-list { margin-right: -30px; }
.post-list .post-row { margin-left: -30px; padding-left: 30px; float: left; width: 100%; border-bottom: 1px solid #eee; margin-bottom: 30px; position: relative; }
.post-list .post-row:last-child { border: none; margin-bottom: 0; }
.post-list .post,
.post-list .page { width: 50%; float: left; }
.post-list .post-inner { margin-right: 30px; }
.post-hover:hover .post-thumbnail { opacity: 0.75; }
.post-hover:hover .post-title a { color: #3b8dbd; }
.post-hover:hover .thumb-icon { background: #fff; color: #111; }

.post-thumbnail { width: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.post-thumbnail { position: relative; height:156px; overflow:hidden; }
.post-thumbnail img { display: block; width: 100%; height: auto; }
.post-date { font-size:12px;}


/* Error 404*/


 .error1 {
	text-align: center;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 100px;
	margin-left: 0;
}
.error2{ font-size:150px;}
 .error1 h4 {
	font-size:60px;
	
	
}
.error1 a {
	float:none;
}

.gray_btn {
	background: #1f1f1f;
	float: left;
	color: #fff !important;
	font-size: 13px;
	text-transform: uppercase;
	border: solid 1px #0c0c0c;
	-moz-box-shadow: inset -0px 1px #0c0c0c;
	-webkit-box-shadow: inset -0px 1px #0c0c0c;
	box-shadow: inset -0px 1px #7b7b7b;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 6px;
	padding-right: 22px;
	padding-bottom: 6px;
	padding-left: 22px;
}

#error3 .searchform {
	margin:14px auto 30px;
	width:220px;
	text-align:left;
}
#error3 .searchform input {
	border: none;
	width:220px;
	padding:5px;

	
}
#error3 input { font-size:16px; } 
#error3 .search_form_link {
	position:relative;
}
#error3 .search_form_link .icon-search:before {
	color:#c9c9c9;
	font-size:18px;
}
#error3 .search_form_link:hover .icon-search:before {
	color: #000000 !important;
}
.textwidget{ width:100%; text-align: center; color:#FFF;}



/*mobile css */

/*iphone 320*480 */
@media only screen and (max-width:480px) {
	.social-profiles {
float: left;
margin-left: 10px;
margin-right: 20px;
}
#site-title {
padding-top: 20px;
float: left;
margin-left: 32%;
}

#menu-icon {
padding:  0px;
cursor: pointer;
font-size: 20px;
display: block!important;
border: 1px solid #CCC;
width: 60%;
margin-left: 18%;
}

body #menu_wrap #navmenu ul.menu {
clear: both;
position: absolute;
top: 42px;
width: 100%;
z-index: 10000;
border: solid 1px #999;
display: none;
margin-top: -10px;
background-color: rgb(51,51,51);
width: 60%;
margin-left: 18%;	

}

body #menu_wrap2 #navmenu ul.menu{
	
	clear: both;
position: absolute;
top: 120px;
width: 100%;
z-index: 10000;
border: solid 1px #999;
display: none;
margin-top: -10px;
background-color: rgb(51,51,51);
width: 60%;
margin-left: 18%;	}
.entry-title {width:100%; }
.entry-title a {
	font-size:12px !important;
	padding:0px;}
	.nivo-caption h3 { padding:5px;}

.lay1 .hentry {
width: 220px;
background: #fff;
height: 350px;
margin-right: 22px;
float: left;
margin-bottom: 40px;
margin-right: 50px;
margin-left: -5px;


}
.clients{ text-align:center}
.client { margin-left:15%;}

}